.container
  position: relative
  float: left
  width: 100%
  height: 100vh

  .video-element
    width: 100%
    left: 0
    right: 0
    height: 100%


  .btn-container
    position: absolute
    height: $btn-container-height
    padding-left: 15%
    padding-right: 15%
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    bottom: 0
    left: 0
    right: 0
    z-index: 2
    background: linear-gradient(to bottom, transparent, map-get($white, 'darken-3'))

    div.intro-btn
      position: relative
      float: left
      margin: $base-rem
      margin-bottom: 0
      margin-top: $base-rem * 2
      line-height: $base-rem*5
      inline-size: 25%

      #text
        text-align: center
        margin-top: $base-rem
        margin-bottom: inherit
        width: 100%

        a

          margin: auto
          color: map-get($white, 'base')
          text-decoration: none
          font-weight: normal
          font-size: 2.8 * $base-rem
          transition: .2s all linear
          filter: drop-shadow(5px 5px 5px rgba(26, 58, 70, 0.7))


      &:hover
        cursor: pointer

        #shape
          stroke-width: .2*$base-rem
          stroke-dashoffset: 0
          stroke-dasharray: 50, 0
          stroke: $yellow

        #text a
          font-size: 2.7 * $base-rem
          font-weight: bold


      &:active
        #shape
          stroke-width: .4*$base-rem

        #text a
          font-size: 2.8 * $base-rem



      svg
        +justify-vertical-center()
        height: 100%
        width: 100%

        #shape
          bottom: 0
          left: 0
          width: 80%
          height: 60%
          stroke-width: .4* $base-rem
          fill: transparent
          stroke: $yellow
          stroke-dashoffset: -150%
          stroke-dasharray: 58%, 280%
          transition: 1s all ease

#modal-container
  position: fixed
  display: table
  height: 100%
  width: 100%
  top: 0
  bottom: 0
  right: 0
  left: 0
  //margin: auto
  background: url("../Dark-Grey-Texture-Wallpaper-5.jpg")
  background-size: cover
  opacity: .90
  z-index: 2
  animation: show .4s ease-in

  .modal-background
    display: table-cell
    text-align: center
    vertical-align: middle



    .modal
      background: transparent
      padding-top: 1%
      padding-bottom: 1%
      padding-left: 5%
      padding-right: 5%
      margin: auto
      display: inline-block
      font-weight: 300
      //max-height: 60%
      width: 50%
      //overflow-y: scroll
      border: 1px solid $yellow
      border-bottom-left-radius: 10px
      border-top-right-radius: 10px
      //border-radius: 10px
      text-align: left
      color: #fff


      .border1
        top: 1.7%
        left: 19%
        position: absolute

      .border2
        left: auto
        top: auto
        bottom: 1.7%
        right: 19%
        rotation-point: 50% 50%
        transform: rotate(180deg)



      h2
        text-align: center
        font-size: $base-rem*4
        line-height: $base-rem*8
        margin-bottom: 15px
        font-weight: bold

      ul
        margin: $base-rem
        list-style: none

        li
          font-size: $base-rem * 2
          line-height: $base-rem * 3.5
          font-weight: 600
          //text-align: center

          ul
            list-style: decimal

            li
              margin-left: 0
              text-align: left
              font-weight: 200
              font-size: $base-rem * 1.8
              line-height: $base-rem * 3.5


      p
        font-size: $base-rem * 1.8
        line-height: $base-rem * 3.2

      .modal-svg
        position: absolute
        top: 5%
        left: 10%
        height: 10%
        width: 80%
        border-radius: 3px

        rect
          stroke: #000
          stroke-width: $base-rem
          stroke-dasharray: 50%, 50%
          stroke-dashoffset: 50%

